<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bump_bond_flutter_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- ✅ Added: Allow querying web browsers to open URLs -->
    <queries>
        <!-- For launching web pages (url_launcher) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <!-- Already present -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:label="bump_bond_flutter_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="bump_bond_channel" />
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Messaging Service -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Don't delete the meta-data below -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>



    <!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    xmlns:tools="http://schemas.android.com/tools"-->
<!--    package="com.example.bump_bond_flutter_app">-->

<!--    <uses-permission android:name="android.permission.INTERNET"/>-->
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->
<!--    <uses-permission android:name="android.permission.VIBRATE"/>-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->




<!--    <application-->
<!--        android:label="bump_bond_flutter_app"-->
<!--        android:name="${applicationName}"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:enableOnBackInvokedCallback="true">-->


<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTop"-->
<!--            android:taskAffinity=""-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize">-->

<!--            <meta-data-->
<!--                android:name="io.flutter.embedding.android.NormalTheme"-->
<!--                android:resource="@style/NormalTheme" />-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        &lt;!&ndash; Don't delete the meta-data below.-->
<!--             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="flutterEmbedding"-->
<!--            android:value="2" />-->

<!--        &lt;!&ndash; Firebase Messaging Service &ndash;&gt;-->
<!--        <service-->
<!--            android:name="com.google.firebase.messaging.FirebaseMessagingService"-->
<!--            android:exported="true"-->
<!--            tools:replace="android:exported">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--    </application>-->

<!--    &lt;!&ndash; Required to query activities that can process text &ndash;&gt;-->
<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.PROCESS_TEXT"/>-->
<!--            <data android:mimeType="text/plain"/>-->
<!--        </intent>-->
<!--    </queries>-->

<!--</manifest>-->





<!--    &lt;!&ndash;<manifest xmlns:android="http://schemas.android.com/apk/res/android"&ndash;&gt;-->
<!--&lt;!&ndash;    package="com.example.bump_bond_flutter_app">&ndash;&gt;-->

<!--&lt;!&ndash;    <uses-permission android:name="android.permission.INTERNET"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <uses-permission android:name="android.permission.VIBRATE"/>&ndash;&gt;-->

<!--&lt;!&ndash;    <application&ndash;&gt;-->
<!--&lt;!&ndash;        android:label="bump_bond_flutter_app"&ndash;&gt;-->
<!--&lt;!&ndash;        android:name="${applicationName}"&ndash;&gt;-->
<!--&lt;!&ndash;        android:icon="@mipmap/ic_launcher">&ndash;&gt;-->
<!--&lt;!&ndash;        <activity&ndash;&gt;-->
<!--&lt;!&ndash;            android:name=".MainActivity"&ndash;&gt;-->
<!--&lt;!&ndash;            android:exported="true"&ndash;&gt;-->
<!--&lt;!&ndash;            android:launchMode="singleTop"&ndash;&gt;-->
<!--&lt;!&ndash;            android:taskAffinity=""&ndash;&gt;-->
<!--&lt;!&ndash;            android:theme="@style/LaunchTheme"&ndash;&gt;-->
<!--&lt;!&ndash;            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"&ndash;&gt;-->
<!--&lt;!&ndash;            android:hardwareAccelerated="true"&ndash;&gt;-->
<!--&lt;!&ndash;            android:windowSoftInputMode="adjustResize">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; Specifies an Android theme to apply to this Activity as soon as&ndash;&gt;-->
<!--&lt;!&ndash;                 the Android process has started. This theme is visible to the user&ndash;&gt;-->
<!--&lt;!&ndash;                 while the Flutter UI initializes. After that, this theme continues&ndash;&gt;-->
<!--&lt;!&ndash;                 to determine the Window background behind the Flutter UI. &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <meta-data&ndash;&gt;-->
<!--&lt;!&ndash;              android:name="io.flutter.embedding.android.NormalTheme"&ndash;&gt;-->
<!--&lt;!&ndash;              android:resource="@style/NormalTheme"&ndash;&gt;-->
<!--&lt;!&ndash;              />&ndash;&gt;-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;        </activity>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; Don't delete the meta-data below.&ndash;&gt;-->
<!--&lt;!&ndash;             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <meta-data&ndash;&gt;-->
<!--&lt;!&ndash;            android:name="flutterEmbedding"&ndash;&gt;-->
<!--&lt;!&ndash;            android:value="2" />&ndash;&gt;-->
<!--&lt;!&ndash;        <service&ndash;&gt;-->
<!--&lt;!&ndash;            android:name="com.google.firebase.messaging.FirebaseMessagingService"&ndash;&gt;-->
<!--&lt;!&ndash;            android:exported="true">&ndash;&gt;-->
<!--&lt;!&ndash;            tools:replace="android:exported" >&ndash;&gt;-->

<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="com.google.firebase.MESSAGING_EVENT"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;        </service>&ndash;&gt;-->
<!--&lt;!&ndash;    </application>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; Required to query activities that can process text, see:&ndash;&gt;-->
<!--&lt;!&ndash;         https://developer.android.com/training/package-visibility and&ndash;&gt;-->
<!--&lt;!&ndash;         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.&ndash;&gt;-->

<!--&lt;!&ndash;         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <queries>&ndash;&gt;-->
<!--&lt;!&ndash;        <intent>&ndash;&gt;-->
<!--&lt;!&ndash;            <action android:name="android.intent.action.PROCESS_TEXT"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <data android:mimeType="text/plain"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </intent>&ndash;&gt;-->
<!--&lt;!&ndash;    </queries>&ndash;&gt;-->
<!--&lt;!&ndash;</manifest>&ndash;&gt;-->
